@import "./../../../../variables.scss";

.container {
  width: 100%;
  height: calc(100vh - $navbarHeight - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
  max-width: 27rem;
  padding: 2rem 1.5rem;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input {
  border: 0;
  border-bottom: 1px solid gray;
  outline: none;
  padding: 0.3rem 0;
  font-size: 1.2rem;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;

  &:focus {
    background-color: $primaryColor;
    border-bottom: 1px solid black;
  }
}

.label {
  margin-bottom: 0.2rem;
}

.alert-box {
  min-height: 1.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.alert {
  color: red;
  font-size: 0.9rem;
}

.button {
  margin: 0 auto;
}

.register-text {
  margin-top: 1.5rem;
  text-align: center;
}

.register-link {
  color: $textColor;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 400px) {
  .form {
    padding: 1.5rem 1rem;
  }
}
