<section class="container">
  <form
    class="form"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="title">Resetuj hasło</h2>

    <label for="email-input" class="label">Email</label>
    <input
      type="email"
      class="input"
      id="email-input"
      formControlName="email"
    />
    <div class="alert-box">
      <div
        class="alert"
        *ngIf="
          resetPasswordForm.controls.email.invalid &&
          resetPasswordForm.controls.email.touched
        "
      >
        Podaj prawidłowy email
      </div>
    </div>

    <app-spinner-button
      class="button"
      text="Resetuj"
      [isProgress]="isPending"
    ></app-spinner-button>

    <p class="login-text">
      Lub <a class="login-link" routerLink="/login">Zaloguj się</a>
    </p>
  </form>
</section>
