<div class="container">
  <p class="app-title">MyQuiz</p>
  <p class="author">Autor aplikacji: Wiktor Opala</p>
  <p class="contact-title">Kontakt:</p>
  <a class="contact" href="mailto:wiktor7530@windowslive.com">
    wiktor7530&#64;windowslive.com
    </a>
  <p class="legal">Wszystkie prawa zastrzeżone © {{ getCurrentYear() }}</p>
  <p class="info">
    Zabrania się kopiowania, modyfikowania, rozpowszechniania lub wykorzystywania tej aplikacji w jakiejkolwiek formie bez uprzedniej pisemnej zgody autora.
  </p>
  <p class="info">
    Autor aplikacji nie ponosi odpowiedzialności za żadne szkody lub problemy
    wynikające z użytkowania aplikacji. Użytkownik korzysta z aplikacji na
    własne ryzyko.
  </p>
</div>
