@import './../../../../variables.scss';

.container {
  border: 1px solid gray;
  border-radius: 10px;
}

.question {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.answers {
  border-top: 1px solid gray;
  padding: 1rem 0;
}

.answers-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.answer {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0 1rem;
  transition: 0.3s;

  &:hover {
    background-color: $primaryColor;
    cursor: pointer;
  }
}

.footer {
  border-top: 1px solid gray;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 7.7rem;
  padding: 0.5rem 0;
  background-color: $primaryColor;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.3s;

  &:hover {
    background-color: $primaryColorHover;
    cursor: pointer;
  }
}

.number {
  font-size: 1.1rem;
}

.correct {
  background-color: $correctColor;

  &:hover {
    background-color: $correctColor;
  }
}

.incorrect {
  background-color: $incorrectColor;

  &:hover {
    background-color: $incorrectColor;
  }
}

.unselected-correct {
  background-color: $unselectedCorrectColor;

  &:hover {
    background-color: $unselectedCorrectColor;
  }
}

.checked {
  background-color: $checkedColor;

  &:hover {
    background-color: $checkedColor;
  }
}


@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}