$textColor: #000000;

$navbarHeight: 3.8rem;

$primaryColor: #ebebeb;
$primaryColorHover: #d3d3d3;

$correctColor: #95ff91;
$incorrectColor: #ffafaf;
$unselectedCorrectColor: #d3ffd1;
$checkedColor: #d3d3d3;